<?xml version="1.0"?>
<MVirusSettings>
	<!-- Enables mod sharing.
		 Disabling this option may resolve connection issues with players
		 who do not have the MVirus mod.
	-->
	<property name="ShareMods" value="true"/>

	<!-- Used file transfer protocol:
		0 - use internal HTTP server
		1 - use external HTTP server
		2 - use game connection (experemental)
	-->
	<property name="FileTransferType" value="0"/>

	<!-- Addres to external HTTP file server or CDN if you are using it -->
	<property name="ExternalHTTPServerAddr" value="https://example.com/optionalpath"/>

	<!-- Port for internal HTTP file server -->
	<property name="HttpPort" value="24000"/>

	<!-- Enable active compression for mod files.
		 Increases CPU usage but saves disk space
	-->
	<property name="ActiveCompression" value="false"/>

	<!-- Enable static compression for mod files.
	     The mod will create *.gz files in the http cache folder.
		 Precompressed files are compabiable with the ngx_http_gzip_static_module nginx module
		 This property disables ActiveCompression
	-->
	<property name="StaticCompression" value="true"/>

	<!-- Cache remote files.
		 Doubles disk usage, but allows edit mods at runtime
	-->
	<property name="CacheAllRemoteFiles" value="true"/>
</MVirusSettings>
