<?xml version="1.0"?>
<MVirusSettings>
	<!-- Enables mod sharing.
		 Disabling this option may resolve connection issues with players
		 who do not have the MVirus mod.
	-->
	<property name="ShareMods" value="false"/>

	<!-- Used file transfer protocol:
		0 - use internal HTTP server
		1 - use external HTTP server
		2 - use game connection (experimental)
	-->
	<property name="FileTransferType" value="2"/>

	<!-- Address to external HTTP file server or CDN if you are using it.
	     The link should return files from the HttpServerFiles folder.
	     Request example: https://example.com/optional/sub/path/TN_MyVehicleMod/Resources/vehicle.unity3d
	-->
	<property name="ExternalHTTPServerAddr" value="https://example.com/optional/sub/path"/>

	<!-- Port for internal HTTP file server -->
	<property name="HttpPort" value="24000"/>

	<!-- Enable active compression for mod files.
		 Increases CPU usage but saves disk space
	-->
	<property name="ActiveCompression" value="true"/>

	<!-- Enable static compression for mod files.
	     The mod will create *.gz files in the http cache folder.
		 Precompressed files are compatible with the ngx_http_gzip_static_module nginx module
		 This property disables ActiveCompression
	-->
	<property name="StaticCompression" value="false"/>

	<!-- Cache remote files.
		 Doubles disk usage, but allows edit mods at runtime
	-->
	<property name="CacheAllRemoteFiles" value="false"/>


    <!-- Mod parameters.
         Use names from ModInfo.xml here
     -->
    <mod name="TFP_Harmony" share="false" />
    <mod name="TFP_CommandExtensions" share="false" />
    <mod name="TFP_MapRendering" share="false" />
    <mod name="TFP_WebServer" share="false" />

</MVirusSettings>
